@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
}

.container {
  /* text-align: center; */
  height: 100vh;
  background: rgb(101, 101, 231);
  background: linear-gradient(
    356deg,
    rgba(101, 101, 231, 1) 0%,
    rgba(175, 103, 233, 1) 60%
  );
}
